# Node
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.pyc

# Virtual Environment

venv/
env/
.venv/
backend/venv

# Python

**pycache**/
_.pyc
_.py[cod]
\*$py.class

# Env files

.env

# Build files
build/
dist/

# OS files
.DS_Store
Thumbs.db
node_modules/
build/
.env
frontend/node_modules
