# Node

node_modules/
frontend/node_modules/

# Virtual Environment

venv/
env/
.venv/

# Python

**pycache**/
_.pyc
_.py[cod]
\*$py.class

# Env files

.env

# Build files

build/
dist/

# OS files

.DS_Store
Thumbs.db

# Project Data (Avoid checking in large PDFs or local databases)

data/chroma_db/
data/archive_memory/

# Generated Output

newsletter\_\*.html

# IDE/System Files

.vscode/
.idea/
.DS_Store
Thumbs.db
